
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}
<br />
<div style="margin-bottom:0; margin-left:10px; padding:0 0 0 0; font-size:1.2em;">
    Sign In
</div>
<hr />

<div class="row">
    <table>
        <tr>
            <td style="width:100px;">&nbsp;</td>
            <td style="width:600px;">              
                    <img src="~/Images/pollbook_signin.png" style=" border:1px solid lightgray;" />                
            </td>
            <td style="width:300px;">
                    @Html.Partial("~/Views/Home/_LoginPartial.cshtml")                
            </td>
        </tr>
    </table>
</div>
<br />

@section scripts{
    <script type="text/javascript">
        var ClearList = function () {
            $("#UserName").val("");
            $("#Password").val("");
        };
    </script>
}